@page "/ability"
@inject HttpClient Http

<h3>Ability</h3>

<NavLink href="ability/create">Ekle</NavLink>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Ability in Response.ResponseCollection)
            {
                <tr>
                    <td>@Ability.Id</td>
                    <td>@Ability.Name</td>
                    <td>@Ability.RegisterDate</td>
                    <td>@Ability.UpdateDate</td>
                    <td>@Ability.IsActive</td>
                    <td><NavLink href="ability/update">Düzenle</NavLink></td>
                    <td><NavLink href="ability/delete">Sil</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private AbilityResponse? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<AbilityResponse>("https://localhost:7255/api/ability");
    }
}