@page "/announcelog"
@inject HttpClient Http

<h3>AnnounceLog</h3>

<NavLink href="announcelog/create">Ekle</NavLink>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOTE</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var AnnounceLog in Response.ResponseCollection)
            {
                <tr>
                    <td>@AnnounceLog.Id</td>
                    <td>@AnnounceLog.Note</td>
                    <td>@AnnounceLog.RegisterDate</td>
                    <td>@AnnounceLog.UpdateDate</td>
                    <td>@AnnounceLog.IsActive</td>
                    <td><NavLink href="announcelog/update">Düzenle</NavLink></td>
                    <td><NavLink href="announcelog/delete">Sil</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private AnnounceLogResponse? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<AnnounceLogResponse>("https://localhost:7255/api/announcelog");
    }
}