@page "/announce"
@inject HttpClient Http

<NavLink href="announce/create">Ekle</NavLink>

@if (Response == null)
{
     <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Announce in Response.ResponseCollection)
            {
                <tr>
                    <td>@Announce.Id</td>
                    <td>@Announce.Name</td>
                    <td>@Announce.RegisterDate</td>
                    <td>@Announce.UpdateDate</td>
                    <td>@Announce.IsActive</td>
                    <td><NavLink href="announce/update">Düzenle</NavLink></td>
                    <td><NavLink href="announce/delete">Sil</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private AnnounceResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<AnnounceResponse>("https://localhost:7046/api/announce");
    }
}