@page "/college"
@inject HttpClient Http

<h3>College</h3>
<NavLink href="college/create">Ekle</NavLink>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var College in Response.ResponseCollection)
            {
                <tr>
                    <td>@College.Id</td>
                    <td>@College.Name</td>
                    <td>@College.RegisterDate</td>
                    <td>@College.UpdateDate</td>
                    <td>@College.IsActive</td>
                    <td><NavLink href="college/update">Düzenle</NavLink></td>
                    <td><NavLink href="college/delete">Sil</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private CollegeResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<CollegeResponse>("https://localhost:7255/api/college");
    }
}