@page "/company"
@inject HttpClient Http

<h3>Company</h3>
<NavLink href="company/create">Ekle</NavLink>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Company in Response.ResponseCollection)
            {
                <tr>
                    <td>@Company.Id</td>
                    <td>@Company.Name</td>
                    <td>@Company.RegisterDate</td>
                    <td>@Company.UpdateDate</td>
                    <td>@Company.IsActive</td>
                    <td><NavLink href="company/update">Düzenle</NavLink></td>
                    <td><NavLink href="company/delete">Sil</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private CompanyResponse? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<CompanyResponse>("https://localhost:7255/api/company");
    }
}